<h1><code ng:non-bindable="">userService</code>
<div><span class="hint">service in module <code ng:non-bindable="">oatApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="oatapp-userservice-page"><p>Service for communicating with the OAT REST backend.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$sessionStorage">$sessionStorage</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/Base64">Base64</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_adduser">addUser(newUser)</h3>
<div class="adduser"><h5 id="methods_adduser_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>newUser</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="adduser-page"><p>User object.</p>
</div></td></tr></tbody></table><h5 id="methods_adduser_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="adduser-page"><p>Promise.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_fillauthdata">fillAuthData()</h3>
<div class="fillauthdata"><h5 id="methods_fillauthdata_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="fillauthdata-page"><p>Promise.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_forgotpassword">forgotPassword(config)</h3>
<div class="forgotpassword"><h5 id="methods_forgotpassword_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="forgotpassword-page"><p>Configuration object, contains e-mail address.</p>
</div></td></tr></tbody></table><h5 id="methods_forgotpassword_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="forgotpassword-page"><p>Promise.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getdevice">getDevice(uid, token)</h3>
<div class="getdevice"><h5 id="methods_getdevice_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uid</td><td><a href="" class="label type-hint type-hint-integer">integer</a></td><td><div class="getdevice-page"><p>Unique user id.</p>
</div></td></tr><tr><td>token</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="getdevice-page"><p>Password token.</p>
</div></td></tr></tbody></table><h5 id="methods_getdevice_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="getdevice-page"><p>Promise.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_login">login(loginData)</h3>
<div class="login"><h5 id="methods_login_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>loginData</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="login-page"><p>User information.</p>
</div></td></tr></tbody></table><h5 id="methods_login_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="login-page"><p>Promise.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_logout">logout()</h3>
<div class="logout"></div>
</li>
<li><h3 id="methods_whoami">whoami()</h3>
<div class="whoami"><h5 id="methods_whoami_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="whoami-page"><p>Promise.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_authentication">authentication</h3>
<div class="authentication"><h5 id="properties_authentication_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="authentication-page"><p>Current authentication.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
