<h1><code ng:non-bindable="">ForgotPwController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">oatApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="oatapp-controller-page oatapp-controller-forgotpwcontroller-page"><p>Controller for forgot password modal.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$modalInstance">$modalInstance</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/oatApp.userService">userService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/growl">growl</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_cancel">cancel()</h3>
<div class="cancel"><div class="cancel-page"><p>Method to close the modal.</p>
</div></div>
</li>
<li><h3 id="methods_forgotpassword">forgotPassword()</h3>
<div class="forgotpassword"><div class="forgotpassword-page"><p>Requests password reset and shows growls in case of success or error.</p>
</div></div>
</li>
</ul>
</div>
</div>
