<h1><code ng:non-bindable="">deviceService</code>
<div><span class="hint">service in module <code ng:non-bindable="">oatApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="oatapp-deviceservice-page"><p>Service for communicating with the OAT REST backend.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getdevice">getDevice(deviceRef)</h3>
<div class="getdevice"><h5 id="methods_getdevice_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>deviceRef</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="getdevice-page"><p>Reference of a device.</p>
</div></td></tr></tbody></table><h5 id="methods_getdevice_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="getdevice-page"><p>Promise.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_sendcommand">sendCommand(aid, cno, data)</h3>
<div class="sendcommand"><div class="sendcommand-page"><p>Sends the given command to the REST backend for further processing.</p>
</div><h5 id="methods_sendcommand_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>aid</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="sendcommand-page"><p>Android Device ID.</p>
</div></td></tr><tr><td>cno</td><td><a href="" class="label type-hint type-hint-integer">integer</a></td><td><div class="sendcommand-page"><p>Command number.</p>
</div></td></tr><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="sendcommand-page"><p>Additional config parameters.</p>
</div></td></tr></tbody></table><h5 id="methods_sendcommand_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="sendcommand-page"><p>Promise.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_sendremoveconfirmation">sendRemoveConfirmation(aid)</h3>
<div class="sendremoveconfirmation"><div class="sendremoveconfirmation-page"><p>Requests a confirmation for removing the device to the REST backend.</p>
</div><h5 id="methods_sendremoveconfirmation_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>aid</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="sendremoveconfirmation-page"><p>Android Device ID.</p>
</div></td></tr></tbody></table><h5 id="methods_sendremoveconfirmation_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="sendremoveconfirmation-page"><p>Promise.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
