<h1><code ng:non-bindable="">LoginController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">oatApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="oatapp-controller-page oatapp-controller-logincontroller-page"><p>Controller for login page.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/oatApp.userService">userService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$modal">$modal</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$routeParams">$routeParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/oatApp.EVENTS">EVENTS</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$translate">$translate</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_login">login()</h3>
<div class="login"><div class="login-page"><p>Performs a login with the given user information and redirects to dashboard.
Shows an alert if the login fails.</p>
</div></div>
</li>
<li><h3 id="methods_openforgotpasswordmodal">openForgotPasswordModal()</h3>
<div class="openforgotpasswordmodal"><div class="openforgotpasswordmodal-page"><p>Opens the modal to reset user password.</p>
</div></div>
</li>
</ul>
</div>
</div>
