<h1><code ng:non-bindable="">DeviceController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">oatApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="oatapp-controller-page oatapp-controller-devicecontroller-page"><p>Controller for login page.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/oatApp.deviceService">deviceService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/oatApp.DEVICE_CMDS">DEVICE_CMDS</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$interval">$interval</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$routeParams">$routeParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/oatApp.EVENTS">EVENTS</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$translate">$translate</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_setbrightness">setBrightness()</h3>
<div class="setbrightness"></div>
</li>
<li><h3 id="methods_togglebt">toggleBt()</h3>
<div class="togglebt"></div>
</li>
<li><h3 id="methods_togglecamera">toggleCamera()</h3>
<div class="togglecamera"></div>
</li>
<li><h3 id="methods_togglegps">toggleGps()</h3>
<div class="togglegps"></div>
</li>
<li><h3 id="methods_togglesync">toggleSync()</h3>
<div class="togglesync"></div>
</li>
<li><h3 id="methods_togglewifi">toggleWifi()</h3>
<div class="togglewifi"></div>
</li>
<li><h3 id="methods_togglewifi">toggleWifi()</h3>
<div class="togglewifi"><div class="togglewifi-page"><p>Refreshes current device information and preferences.</p>
</div></div>
</li>
</ul>
</div>
</div>
