<h1><code ng:non-bindable="">NavController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">oatApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="oatapp-controller-page oatapp-controller-navcontroller-page"><p>Controller for header navigation.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/oatApp.userService">userService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/oatApp.EVENTS">EVENTS</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$modal">$modal</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/growl">growl</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_logout">logout()</h3>
<div class="logout"><div class="logout-page"><p>Performs a logout for the current user and redirects to login page.</p>
</div></div>
</li>
<li><h3 id="methods_openaddusermodal">openAddUserModal()</h3>
<div class="openaddusermodal"><div class="openaddusermodal-page"><p>Opens the modal the add new users,</p>
</div></div>
</li>
<li><h3 id="methods_selectdevice">selectDevice()</h3>
<div class="selectdevice"><div class="selectdevice-page"><p>Switches current device and broadcasts the selection.</p>
</div></div>
</li>
</ul>
</div>
</div>
