<h1><code ng:non-bindable="">authInterceptorService</code>
<div><span class="hint">service in module <code ng:non-bindable="">oatApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="oatapp-authinterceptorservice-page"><p>Interceptor for HTTP Requests.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$sessionStorage">$sessionStorage</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/growl">growl</a></code>
</li>
</ul>
</div>
