<h1><code ng:non-bindable="">MasterCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">oatApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="oatapp-controller-page oatapp-controller-masterctrl-page"><p>Main controller included in body tag.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_togglesidebar">toggleSidebar()</h3>
<div class="togglesidebar"></div>
</li>
</ul>
</div>
</div>
