<h1><code ng:non-bindable="">UserController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">oatApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="oatapp-controller-page oatapp-controller-usercontroller-page"><p>Controller for adding a new user modal.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modalInstance">modalInstance</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/oatApp.userService">userService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/growl">growl</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_adduser">addUser()</h3>
<div class="adduser"><div class="adduser-page"><p>Adds new user, closes modal instance and shows growl if succeeds.
In case of an error an error growl will be shown.</p>
</div></div>
</li>
<li><h3 id="methods_cancel">cancel()</h3>
<div class="cancel"><div class="cancel-page"><p>Method to dismiss the modal.</p>
</div></div>
</li>
<li><h3 id="methods_cancel">cancel()</h3>
<div class="cancel"><div class="cancel-page"><p>Method to dismiss the modal.</p>
</div></div>
</li>
</ul>
</div>
</div>
