<h1><code ng:non-bindable="">DeviceActionController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">oatApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="oatapp-controller-page oatapp-controller-deviceactioncontroller-page"><p>Controller for device action section.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/oatApp.deviceService">deviceService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/oatApp.DEVICE_CMDS">DEVICE_CMDS</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/oatApp.EVENTS">EVENTS</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/growl">growl</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_alarmondevice">alarmOnDevice()</h3>
<div class="alarmondevice"></div>
</li>
<li><h3 id="methods_backupcontacts">backupContacts()</h3>
<div class="backupcontacts"></div>
</li>
<li><h3 id="methods_callback">callback()</h3>
<div class="callback"></div>
</li>
<li><h3 id="methods_encryptdevice">encryptDevice()</h3>
<div class="encryptdevice"></div>
</li>
<li><h3 id="methods_locatedevicewithgps">locateDeviceWithGps()</h3>
<div class="locatedevicewithgps"></div>
</li>
<li><h3 id="methods_lockdevice">lockDevice()</h3>
<div class="lockdevice"></div>
</li>
<li><h3 id="methods_resetdevice">resetDevice()</h3>
<div class="resetdevice"></div>
</li>
<li><h3 id="methods_resetpassword">resetPassword()</h3>
<div class="resetpassword"></div>
</li>
<li><h3 id="methods_sendremoveconfirmation">sendRemoveConfirmation()</h3>
<div class="sendremoveconfirmation"></div>
</li>
</ul>
</div>
</div>
